[user]
	name = Raymond
	email = raymond@henghung.com
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	clog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	cst = status -uno
